# This .gitignore file should be placed at the root of your Unity project directory

# =============== #
# Unity generated #
# =============== #
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
# Never ignore Asset meta data
!/[Aa]ssets/**/*.meta
# Uncomment this line if you wish to ignore the asset store tools plugin
# [Aa]ssets/AssetStoreTools*

# ============= #
# Visual Studio #
# ============= #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
*.pidb
*.svclog
*.sln*
*.user
*.userprefs
*.unityproj
*.booproj
*.svd

# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
Desktop.ini

# ============ #
# User Settings #
# ============ #
[Uu]ser[Ss]ettings/

# ============== #
# Crash Reports #
# ============== #
sysinfo.txt
crashlytics-build.properties
Crash-*.dmp

# ==================== #
# Misc files and dirs #
# ==================== #
[Aa]ssets/StreamingAssets/
[Aa]ssets/Plugins/Android/assets/
*.bak
*.swp
*.orig

# ============================== #
# Visual Studio Code Integration #
# ============================== #
.vscode/
.idea/

# ====================== #
# Packages and Manifest #
# ====================== #
# Uncomment this line if you wish to ignore the package lock file
# It can help to reduce conflicts when working with multiple people
# However, it's generally a good idea to keep it checked in;
# as it ensures a consistent environment for all users
# [Pp]ackages/packages-lock.json

[Pp]ackages/manifest.json

# ============== #
# Unity Packages #
# ============== #
# Test Runner Results
[Tt]est[Rr]esults/

# ======================= #
# Autogenerated by Unity #
# ======================= #
*.cs.meta
*.asmdef.meta

# ================================= #
# Rider Integration for Unity #
# ================================= #
# Since Rider generates its own project files,
# they should not be included in version control
.idea/
*.csproj
*.sln
*.unityproj
*.resharper
*.userprefs
